@import './ucf-athena-framework/src/scss/framework';

[contenteditable]:focus {
  outline: none;
}

// sass-lint:disable no-ids
#tinymce {
  // !important necessary here to override !important styles added
  // by WordPress when "distraction-free" editing mode is enabled
  padding: $grid-gutter-width-base / 2 !important; // sass-lint:disable-line no-important

  .media-background {
    position: static;
  }
}
// sass-lint:enable no-ids
