@import './ucf-athena-framework/src/scss/framework';

[contenteditable]:focus {
  outline: none;
}

// sass-lint:disable no-ids
#tinymce {
  padding: $grid-gutter-width-base / 2;

  .media-background {
    position: static;
  }
}
// sass-lint:enable no-ids
